<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>

        <header>

        </header>
        <section>
            <h1>Sign in</h1>
            <form method="POST">
                User Name:<br>
                <input type="text" name="firstname" value=" "><br>
                Password:<br>
                <input type="text" name="password" value=" ">
                <br><br>
                <input type="submit" value="LOG IN">
            </form>
        </section>
        <footer>
              {{ statistic }}
        </footer>

    </body>
</html>



